<a href="https://colab.research.google.com/github/raquel1998c/Libft/blob/main/aulas/01-intro-python-hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework Exercises

## Part A

Answer these 3 questions without typing code. Then type code to check your answer.

- What is the value of the expression 4 * (6 + 5)

- What is the value of the expression 4 * 6 + 5

- What is the value of the expression 4 + 6 * 5

In [58]:
def operations(*args):
    i = 0
    while i < len(args):
        if args[i] in ('+', '*', '-'):
            if (type(args[i-1]) == int or type(args[i-1]) == float) and (type(args[i+1]) == int or type(args[i+1]) == float):
                if args[i] == '+':
                    return args[i-1] + args[i+1]
                elif args[i] == '*':
                    return args[i-1] * args[i+1]
                elif args[i] == '-':
                    return args[i-1] - args[i+1]
                elif args[i] == '/':
                    return args[i-1] / args[i+1]
        i += 1

In [57]:
a = 4
b = 6
c = 5

print(f"4 * (6 + 5) = {operations(a *  (b + c))}")
print(f"4 * 6 + 5 = {operations(a * b + c)}")
print(f"4 + 6 * 5 = {operations(a + (b * c))}")

4 * (6 + 5) = None
4 * 6 + 5 = None
4 + 6 * 5 = None

1. What is the type of the result of the expression 3 + 1.5 + 4?

In [27]:
result=sum([3,1.5,4])
result

8.5

2. Given the string `'hello'` give an index command that returns 'e'.

In [31]:
frase=["hello"]
print(frase[0][1])

frase1="hello"
print(frase1[1])

e
e

3. Given the string `hello`, give two methods of producing the letter 'o' using indexing.

In [32]:
frase=["hello"]
print(frase[0][4])

frase1="hello"
print(frase1[-1])

o
o

4. Given the following list, and using indexing, isolate the word 'hello'.

In [34]:
lst = [1, 2, [3, 4], 5, [100, 200], ['hello', 'nice'], 23, 11, 1, 7]
lst

[1, 2, [3, 4], 5, [100, 200], ['hello', 'nice'], 23, 11, 1, 7]

In [36]:
print(lst[5][0])

hello

5. Using keys and indexing, grab the `'hello'` from the following dictionary

In [38]:
d = {'msg':'hello', 'day':'sunday', 'month':'may', 'age':21, 'people':['bob', "ana", 'john']}
d

{'msg': 'hello',
 'day': 'sunday',
 'month': 'may',
 'age': 21,
 'people': ['bob', 'ana', 'john']}

In [39]:
print(d['msg'])

hello

6. What is the major difference between tuples and lists?

In [ ]:
tpl =(a,b,True)
lst =[a,1,c]

#tpl imutable lst mutable. lst, same dtypes, tpl different dtypes

## Part B

1. What is the output of the following function that receives two numbers as arguments?

In [40]:
def smaller(x, y):
    if x <= y:
        return x
    else:
        return y

In [41]:
x = 10
y = 3
print(smaller(x, y))

3

2. Write a function that takes two numbers and returns the biggest one

In [43]:
def bigger(x, y):
    if x >= y:
        return x
    else:
        return y

x = 10
y = 3
print(bigger(x, y))

10

3. Write a function that calculates the sum of two numbers



1.   Item de lista
2.   Item de lista

In [59]:
def sum_numbers(x, y):
    return x + y

4. Write a function that checks if a number is negative

## Check if a number is multiple of another
Consider the following function that takes two arguments and checks if the first is multiple of the second

In [ ]:
def is_multiple(x, y):
    return x % y == 0

In [ ]:
print(is_multiple(9,3))

1. Write a function that checks if a number is even

In [ ]:
def is_even(x):
    # TODO
    pass

## Control structures: `for` and `while`
Consider the following function that sums all the numbers up to a number `n`

In [ ]:
def sum_naturals_up_to(n):
    total = 0
    i = 1
    while i <= n:
        total = total + i
        i = i + 1
    return total

In [ ]:
sum_naturals_up_to(5)

1. Write a function that sums all the numbers between `a` and `b` (including them)

In [ ]:
def sum_naturals(a, b):
    # TODO
    pass

2. Write a function that sums all the even numbers between `a` and `b` (including 'a' and 'b')

In [ ]:
def sum_even_naturals(a, b):
    # TODO
    pass

## Control structures: for loop

Consider the following function that sums all the numbers up to a number `n`

In [ ]:
def sum_naturals_up_to2(n):
    total = 0
    for i in range(n+1):
        total = total + i
    return total

In [ ]:
sum_naturals_up_to2(5)

1. Write a function that sums all the numbers between `a` and `b` (including them)

In [ ]:
def sum_naturals(a, b):
    # TODO
    pass

2. Write a function that sums all the even numbers between `a` and `b` (including 'a' and 'b')

In [ ]:
def sum_even_naturals(a, b):
    # TODO
    pass

3. Write the multiplication table for the numbers 1 to 10

## Input and output
The following function asks for a positive number until a positive number is introduded

In [ ]:
def positive_number():
    n = float(input("Positive number:"))
    while n <= 0:
        print("The number {} is not positive".format(n))
        n = float(input("Positive number:"))
    return n

mynum = positive_number()
mynum

1. Write a function that asks for a valid age. By default, a valid age belongs to the interval [0..100]

In [ ]:
def ask_for_age(a=0, b=100):
    # TODO
    pass

## Lists
The following function caclulates the sum of all numbers in a given list

In [ ]:
def sum_all(lst):
    total = 0.0
    for num in lst:
        total = total + num
    return total

In [ ]:
sum_all([3, 2, 7])

1. Write a function that receives a list of numbers as argument and returns their average

In [ ]:
def average(lst):
    # TODO
    pass